---
- name: "Create journald configuration"
  ansible.builtin.template:
    src: journald.conf.j2
    dest: /etc/systemd/journald.conf
    mode: 0644
    owner: root
    group: root
  when:
    - journald_config is defined
    - journald_config | length > 0
  notify: Restart systemd-journald

- name: "Wipe persistent journal directory"
  ansible.builtin.file:
    path: /var/log/journal
    state: absent
  when: journald_wipe_persistent
